::-webkit-scrollbar {
				display: none;
}

html,
body {
				position: relative;
				height: 100vh;
				user-select: none;
				overflow: none;
}

body {
				margin: 0;
				padding: 0;
				position: fixed;
				display: flex;
				justify-content: center;
				align-items: center;
			 height: 100%;
			 width: 100%;
				background: #202020;
      }

.container{
				margin: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				height: 100%;
				display: flex;
				justify-content: center;
				align-items: center;
}

.block {
				position: absolute;
				width: 60px;
				height: 60px;
				background: #fff;
				box-shadow: 10px 10px 30px rgba(0,0,0,0.25);
}

.block:nth-child(3n + 2) {
				background: #444;
}

.block:nth-child(3n + 3) {
				background: #ff9213;
}

.container1{
				position: absolute;
				font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
				font-size: 14px;
        color: #000;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        background: transparent;
        display: block;
        align-items: center;
        justify-content: center;
}

.mySwiper2 {
        width: 100%;
      }
      
      
.mySwiper2 .swiper-slide {
        background-position: center;
        background-size: cover;
        position: relative;
			 width: 900px;
				height: 1120px;
				box-shadow: 2px 2px 50px rgba(0,0,0,0.5);
				background: #F9BF69;
				margin: 35% 0 50px 0;
				padding: 0;
				border-radius: 30px;
				filter: blur(4px);
				
      }

.mySwiper2 .swiper-slide-active {
				filter: blur(0px);
				background: #FDEBD0;
}

      
.content {
				align-items: center;
				background: #F9BF69;
				width: 100%;
				height: 250px;
				margin: 0;
				padding: 0;
				border-radius: 30px 30px 0 0;
}


.imgBx img{
				position: absolute;
				width: 130px;
				margin: 35px 50px;
}

.smp {
				position: relative;
				margin-left: 220px;
				width: 100%;
				height: 100%;
}

.hari {
				position: relative;
				font-size: 3.5em;
				margin: 0;
				padding-top: 50px;
				padding-bottom: 10px;
				color: #111;
				width: 100%;
}

.matkul {
				position: relative;
				font-size: 2em;
				color: #666;
				width: 100%;
				padding: 2px 20px;
				background: #fff;
				margin-right: 10px;
				border-radius: 30px;
}

.switch{
				position: absolute;
				right: 0;
				top: 0;
				display: block;
				width: 200px;
				height: 50%;
}

.ni_m, .nam_a {
				position: relative;
				width: 170px;
				height: 55px;
				display: flex;
				justify-content: center;
				text-align: center;
				align-items: center;
				
				background: #F9BF69;
				box-shadow: -2px -2px 7px rgba(255,255,255,0.8),
																3px 3px 8px rgba(0,0,0,0.5);
				z-index: 1;
				border-radius: 25px;
}

.ni_m.active, .nam_a.active {
				box-shadow: inset -2px -2px 7px rgba(255,255,255,1),
				inset 	3px 3px 8px rgba(0,0,0,0.5);
				background: rgba(255,255,255,0.5);
}

.ni_m span, .nam_a span{
				font-size: 2em;
}

.ni_m{
				margin: 40px 20px 20px 0;
}

.nam_a {
				margin: 20px 20px 10px 0;
}


.navigation {
				position: absolute;
				top: 200px;
				height: 880px;
				width: 100%;
				overflow: auto;
				margin: 0;
				padding: 0;
				background: ;
				scroll-behavior: smooth;
				border-radius: 30px 30px 0 0;
				background: #FDEBD0;
}
.navigation li .n_isi {
				list-style: none;
				margin: 0;
				padding-top: 40px;
				padding-bottom: 60px;
				margin-left: 60px;
}

.matkl {
				display: flex;
				align-items: center;
				color: #111;
				font-size: 3.5em;
				transition: 0.25s;
				margin: 0;
}

.jampel {
				display: inline-flex;
				align-items: center;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
				color: #555;
				font-size: 2.5em;
				transition: 0.25s;
}

.dsn {
				display: flex;
				margin-top: 30px;
				align-items: center;
				color: #111;
				font-size: 3em;
				transition: 0.25s;
}


.count {
				width: 100%;
				display: flex;
				
}

.to {
				display: flex;
				align-items: center;
				border-radius: 0 25px 25px 0;
				margin-top: 20px;
				width: 600px;
				height: 40px;
				background: #fff;
				text-align: center;
}

.to #hari_1, .to #hari_4, .to #hari_7,
.to #hari_2, .to #hari_5, .to #hari_8,
.to #hari_3, .to #hari_6, .to #hari_9,
.to #hari_10 {
				margin-left: 60px;
				text-align: center;
				color: #555;
				font-size: 2.5em;
				transition: 0.25s;
}

.tmbl {
				display: flex;
				align-items: center;
				padding: 0;
				margin-left: 40px;
				margin-bottom: 30px;
				
}

.mr {
				position: relative;
				width: 230px;
				height: 75px;
				background: transparent;
				justify-content: center;
				display: flex;
				align-items: center;
				text-decoration: none;
				margin-right: 20px;
				border-radius: 40px;
				border: 2px solid #FAA627;
				cursor: none;
}

/* gd, gcr */
.gd,
.gcr {
				position: relative;
				width: 150px;
				height: 75px;
				background: transparent;
				justify-content: center;
				display: flex;
				align-items: center;
				text-decoration: none;
				margin-right: 20px;
				border-radius: 40px;
				border: 2px solid #FAA627;
				cursor: none;
}

.gcr::before, .gd::before,
.mr::before {
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0;
				height: 100%;
				background: #fff;
				transition: width 0.5s ease-in-out;
				border-radius: 40px 0 0 40px;
}

.gcr::after, .gd::after,
.mr::after {
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 0;
				height: 100%;
				background: #fff;
				transition: width 0.5s ease-in-out;
				border-radius: 0 40px 40px 0;
}

.gd:hover::before, .gd:hover::after,
.gcr:hover::before, .gcr:hover::after,
.mr:hover::before,
.mr:hover::after {
				width: 50%;
}

.gcr span,.gd ion-icon,
.mr span {
				position: absolute;
				color: #FAA627;
				z-index: 1;
				transition: 0.5s;
				user-select: none;
				font-size: 2em;
}

.gd ion-icon {
				font-size: 2.2em;
}

.gcr span:nth-child(1), .gd ion-icon:nth-child(1),
.mr span:nth-child(1) {
				transition-delay: 0.75s;
}

.gcr:hover span:nth-child(1), .gd:hover ion-icon:nth-child(1),
.mr:hover span:nth-child(1) {
				transform: scale(0);
				transition-delay: 0s;
}

.gcr span:nth-child(2), .gd ion-icon:nth-child(2),
.mr span:nth-child(2) {
				transform: scale(3);
				transition-delay: 0s;
				opacity: 0;
				color: #FACA83;
}

.gcr:hover span:nth-child(2), .gd:hover ion-icon:nth-child(2),
.mr:hover span:nth-child(2) {
				transform: scale(1);
				transition-delay: 0.75s;
				opacity: 1;
}

.mySwiper {
								position: absolute;
        width: 100%;
        top: 0;
        margin: 0;
        height: 200px;
        box-sizing: border-box;
        padding: 40px 40px 0 20px;
      }

.mySwiper .swiper-slide {
        border: 1px solid #FAA627;
        display: flex;
								justify-content: center;
								text-align: center;
								align-items: center;
								border-radius: 15px;
				background: #Fff;
				height: 80px;
				width: auto;
				box-shadow: 0 0 7px rgba(0,0,0,0.5);
      }

.mySwiper .swiper-slide-thumb-active {
        background: #FAA627;
        border: 3px solid #Fff;
      }

.mySwiper .swiper-slide-thumb-active span{
				color: #fff;
}

.mySwiper span {
				font-size: 2.5em;
				color: #FAA627;
}

.per1 {
				position: relative;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 176px;
				background: #FDEBD0;
}

.per2 {
				position: relative;
				margin: 0;
				padding: 0;
				width: 100%;
				height: 176px;
				background: #ECD0A7;
}

.main {
				position: absolute;
				height: 100%;
				align-items: center;
				width: 100%;
				margin: 0;
				padding: 0;
				display: flex;
				align-items: center;
}

.imgBk {
				position: absolute;
				margin: 0 55px;
				width: 130px;
				height: 130px;
				border: 3px solid #fff;
				border-radius: 10px;
				background: rgba(255,255,255,0.5);
}

.imgBk img{
				width: 130px;
				border-radius: 10px;
				
}

.play {
				position: relative;
				display: block;
				justify-content: center;
				align-items: center;
				margin-left: 250px;
}

.nama {
				position: relative;
				font-size: 3em;
				color: #111;
				margin: 0;
}

.about {
				position: relative;
				font-size: 2em;
				color: #666;
				margin: 0;
}

.duo{
				display: none;
}

.navigation.player2{
				width: 92%;
				left: 0;
				border-radius: 10px 0 0 0;
}

.navigation.hrf{
				width: 8%;
				border-radius: 0 10px 0 0;
				right: 0;
}

.per_h {
				width: 100%;
				height: 60px;
				display: flex;
				justify-content: center;
				text-align: center;
				align-items: center;
}

.per_h.to_p{
				display: none;
				height: 55px;
				margin-top: 30px;
}





.per_h:hover{
				background: #ECD0A7;
}

.per_h:hover span{
				color: #fff;
}

.per_h.active{
				background: #ECD0A7;
}

.per_h.active span{
				color: #fff;
}

.per_h span{
				font-size: 2em;
				color: #000;
				cursor: none;
}

.player1 {
				display: block;
}

.bott {
				position: absolute;
				bottom: 0;
				overflow: hidden;
				display: flex;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 40px;
				border-radius: 0 0 30px 30px;
				background: rgba(255,255,255,0.4);
				font-size: 2em;
}

#date, #date1, #date2, #date3,
#date4 {
				margin-right: 10px;
}

@media(max-width:720px){

.mySwiper2 .swiper-slide {
				width: 300px;
				height: 450px;
				display: flex;
				justify-content: center;
				border-radius: 10px;
				box-shadow: 1px 1px 10px rgba(0,0,0,0.5);
				margin-bottom: 10px;
}

.tmbl {
				margin-left: 20px;
					margin-bottom: 10px;
}

.content {
				height: 90px;
				border-radius: 10px 10px 0 0;
}

.imgBx img{
				width: 50px;
				margin: 15px;
}

.smp {
				margin-left: 80px;
}

.hari {
				font-size: 1.5em;
				padding-top: 18px;
				padding-bottom: 0;
}

.matkul {
				font-size: 0.7em;
				padding: 2px 10px;
				border-radius: 10px;
				margin-right: 2px;
}

.navigation {
				top: 80px;
				height: 350px;
				border-radius: 10px 10px 0 0;
}

.navigation li .n_isi {
				padding-top: 12px;
				padding-bottom: 20px;
				margin-left: 20px;
}

.matkl {
				font-size: 1.1em;
}

.jampel {
				font-size: 0.8em;
}

.dsn {
				margin-top: 20px;
				font-size: 1em;
}

.to {
				border-radius: 0 10px 10px 0;
				margin-top: 10px;
				width: 220px;
				height: 20px;
}

.to #hari_1, .to #hari_4, .to #hari_7,
.to #hari_2, .to #hari_5, .to #hari_8,
.to #hari_3, .to #hari_6, .to #hari_9,
.to #hari_10 {
				margin-left: 20px;
				color: #555;
				font-size: 10px;
}

.mr {
				width: 110px;
				height: 30px;
				margin-right: 10px;
				border-radius: 15px;
				border: 1px solid #FAA627;
}

.gd,
.gcr {
				width: 50px;
				height: 30px;
				margin-right: 10px;
				border-radius: 15px;
				border: 1px solid #FAA627;
}

.gcr::before, .gd::before,
.mr::before {
				border-radius: 15px 0 0 15px;
}

.gcr::after, .gd::after,
.mr::after {
				border-radius: 0 15px 15px 0;
}

.gcr span,
.mr span {
				font-size: 12px;
}

.gd ion-icon {
				font-size: 15px;
}

.mySwiper{
				padding: 20px 20px 0 10px;
				height: 80px;
}

.mySwiper .swiper-slide {
        border: 1px solid #FAA627;
								border-radius: 15px;
				height: 25px;
				box-shadow: 0 0 7px rgba(0,0,0,0.5);
}

.mySwiper span {
				font-size: 15px;
				color: #FAA627;
}

.mySwiper .swiper-slide-thumb-active {
        background: #FAA627;
        border: 1px solid #Fff;
      }

.per1 {
				height: 70px;
}

.per2 {
				height: 70px;
}

.imgBk{
				margin: 0 20px;
				width: 50px;
				height: 50px;
				border: 1px solid #fff;
				border-radius: 5px;
}

.imgBk img{
				width: 50px;
				border-radius: 5px;
				
}


.play {
				margin-left: 90px;
}

.nama {
				font-size: 18px;
}

.about {
				font-size: 11px;
}

.switch{
				width: 60px;
}

.ni_m, .nam_a{
				width: 50px;
				height: 20px;
				margin: 20px 5px 10px 0;
				box-shadow: -1px -1px 3px rgba(255,255,255,0.8),
																2px 2px 4px rgba(0,0,0,0.5);
				border-radius: 15px;
}

.ni_m.active, .nam_a.active {
				box-shadow: inset -1px -1px 4px rgba(255,255,255,0.8),
				inset 	1px 1px 3px rgba(0,0,0,0.5);
				background: rgba(255,255,255,0.5);
}

.ni_m span, .nam_a span{
				font-size: 0.8em;
}

.nam_a {
				margin: 10px 5px 5px 0;
}

.navigation.player2{
				width: 90%;
				border-radius: 10px 0 0 0;
}

.navigation.hrf{
				width: 10%;
				border-radius: 0 10px 0 0;
}

.per_h {
				height: 23px;
}

.per_h.to_p{
				display: none;
				margin-top: 20px;
				height: 25px;
}


.per_h span{
				font-size: 1.2em;
}

.bott {
				height: 20px;
				border-radius: 0 0 10px 10px;
				font-size: 1em;
}

#date, #date1, #date2, #date3,
#date4 {
				margin-right: 10px;
}

}
